<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

</head>

<body>
    <div class="container">
        <h2>Login</h2>

        <% if(success) { %>
            <div class="success-msg">
                <%= success %>
            </div>
            <% } else if(error) { %>
                <div class="error-msg">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/user/login" method="POST">

                        <label for="email">Email:</label>
                        <% if(validationErr && validationErr.email) { %>
                            <p class="validationErr">
                                <%= validationErr.email %>
                            </p>
                            <% } %>
                                <input type="email" id="email" name="email" required>

                                <label for="password">Password:</label>
                                <% if(validationErr && validationErr.password) { %>
                                    <p class="validationErr">
                                        <%= validationErr.password %>
                                    </p>
                                    <% } %>
                                        <input type="password" id="password" name="password" required>

                                        <button class="btn" type="submit">Login</button>
                    </form>

    </div>
</body>

</html>